<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
      Name="Kletternaut Launchpad"
      Manufacturer="Kletternaut"
      Version="$(var.ProductVersion)"
      UpgradeCode="7B4D1E8C-2F7D-4D88-9B44-6D4C6D7A0A31"
      Scope="perMachine"
      Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Kletternaut Launchpad is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="APPLICATIONFOLDER" Name="Kletternaut">
        <Directory Id="INSTALLFOLDER" Name="Launchpad">
          <Directory Id="APPFOLDER" Name="app" />
          <Directory Id="RUNTIMEFOLDER" Name="runtime" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="LaunchpadServiceComponent" Guid="*">
        <File Id="LaunchpadServiceExe" Source="!(bindpath.PayloadRoot)\service\LaunchpadService.exe" KeyPath="yes" />
        <File Id="LaunchpadServiceConfig" Source="!(bindpath.PayloadRoot)\service\appsettings.json" />
        <ServiceInstall
            Id="LaunchpadServiceInstall"
            Name="KletternautLaunchpad"
            DisplayName="Kletternaut Launchpad"
            Description="Kletternaut Launchpad bookmark service"
            Start="auto"
            Type="ownProcess"
            Account="NT AUTHORITY\LocalService"
            ErrorControl="normal">
          <util:ServiceConfig
              FirstFailureActionType="restart"
              SecondFailureActionType="restart"
              ThirdFailureActionType="restart"
              RestartServiceDelayInSeconds="10"
              ResetPeriodInDays="1" />
        </ServiceInstall>
        <ServiceControl
            Id="LaunchpadServiceControl"
            Name="KletternautLaunchpad"
            Start="install"
            Stop="both"
            Remove="uninstall"
            Wait="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="APPFOLDER">
      <Files Include="!(bindpath.PayloadRoot)\app\**" />
    </DirectoryRef>

    <DirectoryRef Id="RUNTIMEFOLDER">
      <Files Include="!(bindpath.PayloadRoot)\runtime\**" />
    </DirectoryRef>

    <Feature Id="MainFeature" Title="Kletternaut Launchpad" Level="1">
      <ComponentRef Id="LaunchpadServiceComponent" />
    </Feature>
  </Package>
</Wix>
